body {
  font-family: Arial, sans-serif;
  background-color: #b164c8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
  margin: 20px auto;
}

.box {
  width: 100px;
  height: 100px;
  background-color: #3c3333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  cursor: pointer;
}

.status {
  margin-top: 20px;
  font-weight: bold;
}
